// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Karla', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main: #181d20;
$secondary: #21282c;
$third:#F3BD14;
$white: #fff;
$danger: #e50000;
