// Mobile
$screen-xs: 350px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1400px;

// Small devices
@mixin xs {
  @media (max-width: #{$screen-xs}) {
      @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl}) {
      @content;
  }
}